<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
	<title>Mockups</title>
</head>

<frameset cols="170,*" frameborder="1" border="1" bordercolor="#666666" framespacing="1">
    <frame src="mockups_index" title="List" name="list" />
    <frame name="content" />
</frameset>

</html>
