<h1>Alternate Layout Example</h1>

<p>
  If a template has an additinal file extension, such as <code>alternate_layout.alternate.html.erb</code>, 
  the first extension will be used as the layout.  In this case, Rails is expecting a layout named 
  'alternate' to be defined.
</p>
