<h1>Nesting & Alternate Layout Example</h1>

<p>
  You can add subdirectories within app/views/mockups to organize your mockups (only one level deep).
</p>

<p>
  If the subdirectory name matches a layout file, that layout would be used.
  In this example, if you had a layout named "basic", it would be used instead of the default.
</p>
